.profileRetryOnFailure {
  background-color: #4f46e5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #f8fafc;
}
.profileAndFilterContainer {
}
.mainContainerJobs {
  width: 100vw;
  display: flex;
}
.profileAndFilterContainer {
  width: 30%;
  padding: 40px;
}
.mainContainerRender {
  background-color: black;
  min-height: 100vh;
  color: white;
}
.jobsAndSearchCont {
  padding: 40px;
  padding-left: 0px;
  width: 70%;
}
.imageprofile {
  height: 50px;
  margin-bottom: 10px;
}
.profileName {
  color: #4f46e5;
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 20px;
}
.profileBio {
  font-size: 16px;
  font-family: Roboto;
  color: #64748b;
  margin-bottom: 10px;
}
.profileCard {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');

  width: 100%;
  background-size: cover;
  padding: 10px;
}
.horizontalline {
  border: 1px solid #64748b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.typeOfEmploy {
  font-size: 16px;
  font-family: Roboto;
  color: #f8fafc;
}
.searchCont {
  border: solid 1px #b6c5ff;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  border-radius: 3px;
  margin-bottom: 20px;
}
.searchicon {
  height: 100%;
  width: 60px;

  padding: 5px;
  background-color: #202020;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}
.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  margin: 10px;
  width: 82%;
}
.containerJobslist {
  padding: 0px;
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.containerJobslist ::-webkit-scrollbar {
  display: none;
}

.searchCont-Mobile {
  border: solid 1px #b6c5ff;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  border-radius: 3px;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .searchCont-Mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .searchCont {
    display: none;
  }
  .mainContainerJobs {
    flex-direction: column;
  }
  .profileAndFilterContainer {
    width: 100%;
  }
  .searchCont-Mobile {
    width: 100%;
  }
  .jobsAndSearchCont {
    width: 100%;
    padding: 20px;
  }
}
.searchIconBtn {
  background: none;
  background-color: #202020;
  border: none;
  outline: none;
  cursor: pointer;
  height: 100%;
  color: white;
}
.profileCardFailure {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.failureviewimage {
  height: 400px;
  margin-top: 10px;
}
.failureCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.failureHead {
  font-family: Roboto;
  font-size: 30px;
  color: white;
  margin-top: 20px;
}
.descFailure {
  font-family: Roboto;
  font-size: 10px;
  color: #b6c5ff;
  margin-top: 20px;
}
.btnRetry {
  font-family: Roboto;
  font-size: 10px;
  color: white;
  padding: 10px;
  padding-left: 20px;
  margin-top: 10px;
  padding-right: 20px;
  background-color: #4f46e5;
  border: none;
  border-radius: 5px;
}
.jobsLoadingView {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nojobCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.noJobsImage {
  width: 50%;
  margin-top: 30px;
}
.nojobheading {
  font-size: 30px;
  font-family: Roboto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.descNojob {
  font-family: Roboto;
  font-size: 10px;
  color: #b6c5ff;
}
